$color-agile-light: #E0E0E0;
$color-back-light: #BCAAA4;
$color-cloud-light: #FFAB91;
$color-craft-light: #FFCC80;
$color-data-light: #DCE775;
$color-devops-light: #AED581;
$color-loisirs-light: #C8E6C9;
$color-mobile-light: #B2EBF2;
$color-front-light: #F8BBD0;

$color-agile: #757575;
$color-back: #6D4C41;
$color-cloud: #F4511E;
$color-craft: #EF6C00;
$color-data: #827717;
$color-devops: #689F38;
$color-loisirs: #009688;
$color-mobile: #039BE5;
$color-front: #EC407A;

$grey-light: #F5F5F5;