[data-page-type="domains"] {
  .domains {
    .domains-content {
      background-color: #FFFFFF;
      color: rgba(0, 0, 0, 0.870588);
      padding: 30px 0 10px 10px;
      .domain-name {
        font-size: 16px;
        top: 5px;
        left: 5px;
      }
      .skill {
        font-size: 14px;
        margin-right: 5px;
        &:hover {
          cursor: pointer;
          color: red;
        }
      }
    }
  }
}