[data-page-type="management"] {

  .management-content {
    padding: 3px;

    .manager-container {
      padding: 20px;
      margin-bottom: 5px;

      .manager {
        font-weight: bold;
        margin-bottom: 10px;
      }

      .user {
        font-size: 14px;
      }

    }

  }

}