[data-page-type="users"], [data-page-type="me"] {

    .domains-content {
        margin: .5rem;
        border-radius: 2px;
        position: relative;
        padding: 1rem .5rem .5rem 0;
    }

    .domain-info {
        position: relative;
        border: none;
        background-color: white;
    }

}