.domains-content {

    @include clearfix;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .domain-name {
        position: absolute;
        left: 0;
        top: 0;
        background-color: white;
        padding: 0 5px;
        font-size: 12px;
        text-transform: uppercase;
        border-radius: 2px 0 2px 0;
        text-align: left;
    }

    .domain-label {
        font-size: 8px;
        border-radius: 2px 0 2px 0;
        text-transform: uppercase;
        color: white;
        padding: 3px 5px;
    }
}