@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    margin: 0;
    padding: 0;
    background-color: $grey-light;
    font-family: 'Roboto', sans-serif;
}

.content {

    .auto-complete {
        margin: .8rem;
    }

    .user-row {
        margin: .2rem;
        position: relative;
    }

    p {
        margin: 0;
    }

    .user-content {

        cursor: pointer;
        display: flex;

        .user-left {
            margin: .8rem;
        }

        .user-right {
            margin: .8rem;
        }

        .user-update-label {
            padding-left: 3px;
        }
    }

    .domain-info {
        padding: .5rem;
        margin: .5em 0 0 .5em;
        border: solid 1px #EEEEEE;
        border-radius: 2px;

        flex-grow: 1;
        flex-basis: 32%;
    }

    .remove-icon {
        z-index: 1;
        color: red;
        position: absolute;
        right: 0;
        background: #f1f1f1;
        padding: 0 8px 4px 8px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        opacity: .5;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        &:active {
            opacity: .5;
        }
    }

}