@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    margin: 0;
    padding: 0;
    background-color: $grey-light;
    font-family: 'Roboto', sans-serif;
}

.content {

    .auto-complete {
        margin: .8rem;
    }

    .user-row {
        margin: .6rem .5em;
    }

    p {
        margin: 0;
    }

    .company-name {
        background-color: #9C27B0;
        color: #F1F1F1;
        padding: 3px 5px;
        width: 4rem;
        font-size: 8px;
        text-transform: uppercase;
        border-radius: 2px 0 2px 0;
    }

    .user-content {

        display: flex;

        .user-left {
            margin: .8rem;
        }

        .user-right {
            margin: .8rem;
        }
    }

    .domain-info {
        float: left;
        padding: .5rem;
        margin: .5em 0 0 .5em;
        border: solid 1px #EEEEEE;
        border-radius: 2px;
    }

    .remove-icon {
        z-index: 1;
        color: #a0a0a0;
        position: absolute;
        right: -5px;
        top: -10px;
        background: #f1f1f1;
        padding: 0 8px 4px 8px;
        border-radius: 1rem;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
        opacity: .5;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        &:active {
            opacity: .5;
        }
    }

}