{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "amd": true
  },
  "rules": {
    "comma-dangle": 0,
    "indent": [2, 4, {"SwitchCase": 1}],
    "jsx-quotes": 1,
    "quotes": [2, "single"],
    "eol-last": 0,
    "arrow-parens": [2, "as-needed"],
    "display-name": 0,
    "max-len": [2, 120],
    "object-curly-spacing": 0,
    "arrow-body-style": [0, "as-needed"],

    "react/jsx-indent": [2, 4],
    "react/jsx-indent-props": 0,
    "react/jsx-closing-bracket-location": [2, "after-props"],
    "react/display-name": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-space-before-closing": [2, "never"],

    "jsx-a11y/img-redundant-alt": 0
  },
  "extends": ["eslint:recommended", "airbnb"]
}